.garage-page__controls {
  display: flex;
  justify-content: center;
}

.controls__container {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;

  width: 400px;
  min-height: 200px;

  input {
    height: 35px;
    padding: 0 5px;

    font-size: 14px;

    border: none;
    border-radius: 5px;    
  }
}

.create-form,
.update-form,
.controls__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.controls__buttons {
  margin: 0;
  padding: 0;

  list-style-type: none;

  .controls__race-btn:not(:disabled) {
    &:hover,
    &:focus {
      background-color: #32cd32;      
    }
  }

  .controls__reset-btn:not(:disabled) {
    &:hover,
    &:focus {
      background-color: #ff2400;
    }
  }

  .controls__generate-btn:not(:disabled) {
    &:hover,
    &:focus {
      background-color: #fdee00;
    }
  }
}

.create-form__btn {
  &:hover,
  &:focus {
    background-color: #fdee00;
  }
}

.update-form__btn:not(:disabled) {
  &:hover,
  &:focus {
    background-color: #fdee00;
  }
}

.garage__title {
  text-transform: uppercase;
}

.garage__page-index {
  font-weight: bold;
  text-transform: uppercase;
}

.garage__modal {
  position: fixed;
  top: calc(60% - 170px);
  left: calc(50% - 170px);

  z-index: 10;

  display: flex;
  flex-wrap: wrap;  
  justify-content: center;

  width: 350px;
  height: 350px;
  padding-top: 30px; 

  border-radius: 15px;
  background-color: #32cd32;

  img {
    width: 300px;
    height: 200px;
  }

  p {
    font-size: 20px;
    font-weight: bold;  
    color: #000000; 
    text-align: center;
  }
}

.garage__cars {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.car__controls {
  display: flex;
  align-items: center;

  margin-bottom: 15px;

  button {
    width: 90px;
    height: 30px;

    font-size: 14px;
  }
  
  .car__controls-container {    
    display: flex;
    justify-content: space-between;

    width: 190px;
    margin-right: 15px;

    .car__select-btn {
      &:hover,
      &:focus {
        background-color: #fdee00;
      }
    }

    .car__remove-btn {
      &:hover,
      &:focus {
        background-color: #ff2400;
      }
    }
  }
}

.car__engine-controls {
  width: 100px;

  button {
    width: 80px;
    height: 25px;

    font-size: 14px;
    color: $main-text;

    border-radius: 5px;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: #000000;
    }
  }

  .engine__start-btn {
    margin-bottom: 10px;
  }

  .engine__start-btn:not(:disabled) {
    background-color: #32cd32;
  }

  .engine__stop-btn:not(:disabled) {
    background-color: #ff2400;
  }  
}

.cars__item {
  outline: none;
}

.car__track {
  display: flex;
  justify-content:space-between; 

  margin-bottom: 15px;
  border-bottom: 2px solid #463d39;
}

.car__name {
  font-size: 16px;
  font-weight: bold;
}

.car__inner-container {
  display: flex;
}

.car__instance {
  width: 100px;
  height: 66px;
  
  transform: translateY(29px);
}

.car__finish {
  width: 100px;
  height: 95px;

  transform: translateX(-100px);

  pointer-events: none;
  user-select: none;  
}

@media (max-width: 1024px) {
  .garage__modal {
    position: fixed;
    top: calc(60% - 150px);
    left: calc(50% - 150px);
  
    z-index: 10;
  
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
  
    width: 300px;
    height: 300px;
    padding-top: 30px; 
  
    border-radius: 15px;
    background-color: #32cd32;
  
    img {
      width: 280px;
      height: 180px;
    }
  
    p {
      font-size: 18px;
      font-weight: bold;  
      color: #000000; 
      text-align: center;
    }
  }
}

.hidden {
  display: none;
}